#main-logo {
  margin-left: -25px;
  margin-top: 0px;
  height: 55px;
}
#navbar ul {
  display: none;
  background-color: #e18650;
  position: absolute;
  top: 100%;
}
#navbar li:hover ul {
  display: block;
}
#navbar,
#navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
  height: 55px;
  background-color: #e18650;
  padding-left: 25px;
  min-width: 700px;
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -10px;
  border-bottom: 1px solid #e18650;
  box-shadow: 0, 0, 10px rgba(0, 0, 4, 1);
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
  border-right: 2px solid white;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: white;
  text-decoration: none;
  text-align: center;
  margin-top: 15px;
}
#navbar ul li {
  float: none;
}
#navbar li:hover {
  background-color: rgba(226, 143, 43, 0.946);
}
#navbar ul li:hover {
  background-color: rgba(226, 143, 43, 0.946);
}
#navbar .active {
  background-color: rgba(226, 143, 43, 0.946);
}
#codex {
  display: inline-block;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 100px;
  min-width: 500px;
}
#codex h2 {
  text-align: center;
  margin-bottom: 90px;
}
#codex .citate {
  word-break: break-all;
  font-style: italic;
  text-align: right;
}
#codex ol li {
  text-align: left;
  word-break: break-all;
}
