
  #main-logo{
margin-left: -25px;
margin-top: 0px;
height: 55px;
}
  #navbar ul{
        display: none;
        background-color: #f90;
        position: absolute;
      	top: 100%;
      }
      #navbar li:hover ul { display: block; }
      #navbar, #navbar ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
	text-align-auto;
      }
      #navbar {
        height: 55px;
        background-color:#E18650;
        padding-left: 25px;
        min-width: 470px;
        margin-left: -10px;
        margin-top: -10px;
        margin-right: -10px;
	border-bottom: 1px solid #E18650;
        
      }
      #navbar li {
        float: left;
        position: relative;
        height: 100%;
        border-right: 2px solid white;    
      }
      #navbar li a {
        display: block;
        padding: 6px;
        width: 100px;
        color: white;
        text-decoration: none;
        text-align: center;
        margin-top: 15px;
      }
      #navbar ul li { float: none; }
      #navbar li:hover { background-color: #f90; }
      #navbar ul li:hover { background-color: #666; }
   